<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ShineGen is a tool to generate unlimitied google drive storage for free. Works like magic all the time."/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    <title>ShineGen - Unlimited Gdrive Storage</title>
</head>
<body>

    <section class="bg-white">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

        <!-- Navbar Dark -->
        <nav class="navbar navbar-expand-lg navbar-dark shadow-sm bg-danger">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <span class="">ShineGen</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item ml-lg-4">
                            <div class="btn px-0 px-lg-2 btn-danger">
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br>   
    </section>

    <!-- navigation ends here -->


    <section class="h-100">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

        <div class="position-absolute h-100 w-100" style="
                z-index: -1;
                
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                background-position: center;
            "></div>
        <div class="container d-flex flex-column justify-content-around h-100 py-5">
            <div class="d-flex justify-content-center align-items-center mb-3">
                <div class="col-sm-8 text-center">
                    <h1 class="display-5 font-weight-bold">
                        Generate <span class="text-danger">Unlimited</span> storage and enjoy it for the rest of your life.
                    </h1>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mb-3">
                <div class="col-sm-8 text-center">
                    <h5 class="text-muted font-weight-normal">
                        I made this freakin tools to help you enjoy unlimitied Gdrive storage. If you feel happy and  wanna bless me. . . then consider buying me a <a href="https://www.paypal.com/paypalme/shinebarbhuiya">coffee</a>  or something.
                    </h5>
                    
                </div>
            </div>            
        </div>
    </section>





    <!-- main form starts here -->
    <section class="h-100 position-relative">
        <!-- <div class="h-100 w-100" style="position: absolute; opacity: 0.7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d121063.41274208989!2d73.93025865976567!3d18.51843118730304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1595744882838!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border: 0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div> -->
        <div class="container h-100 d-flex align-items-center justify-content-center">
            <div class="col-lg-5 shadow-lg" style="z-index: 1">
                <div class="bg-white rounded shadow-sm p-4">
                    <h3 class="text-center font-weight-bold text-danger">
                        Generate Gdrive Here
                    </h3>
                    
                    <form action="" method="GET">
                        <div class="mb-3">
                            <label for="name" class="form-label">Drive Name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Shine Drive">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" name="email" id="email" placeholder="shine@gmail.com">
                        </div>
                        
                        <button  class="btn btn-danger">Dance!</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- main form ends here -->







    


    






<style>
        .navbar-brand {
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

</body>
</html>